

.separatorBorder{
    border-top: 1px solid #e2e7eb;
    margin-top: 20px;
    padding-top: 20px;
}

.profile-image img{
    width: 100%;
    height: 100%;
}


@media all and (max-width: 767px) {
    #hideMenu {
        display: none;
    }

    .field{
        display: none;
    }

    .mobile{
        color: #777;
        font-weight: 600;
        text-align: left;
        width: 120px;
    }

}